<!DOCTYPE html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>soccer club</title>
    <link rel="shortcut icon" href=favicon.ico>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/~/theme/css/all.css">

    <link rel=stylesheet href=~/theme/vendor.css>
    <link rel=stylesheet href=~/theme/style.css>
    
   
    <link rel=stylesheet type=text/css href=~/theme/css/layerslider.css>
    <link rel=stylesheet type=text/css href=~/theme/css/turnuva.css>
    <script src=~/theme/js/vendor/modernizr.js></script>
</head>
<body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>


    <header class=header-main>
        

        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><a href=index-2.html><img src=~/theme/images/logo.png alt=image></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href=/ class=active>Home <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a href=/home/Tournaments>Turnuvalar <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=/home/gallery>Galeri <span></span> <span></span> <span></span> <span></span></a>
                                           
                                        </li>
                                       
                                        <li><a href=/home/fixture>Fikstür <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                       
                                        <li><a href=/home/contact>İletişim <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>error <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=400.html>400 page</a></li>
                                                <li><a href=401.html>401 page</a></li>
                                                <li><a href=403.html>403 page</a></li>
                                                <li><a href=404.html>404 page</a></li>
                                                <li><a href=500.html>500 page</a></li>
                                                <li><a href=503.html>503 page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                
            </div>
        </div>


    </header>


    
            @RenderBody()


    <footer class=footer-type01>
 
        <div class=footer-type02>
            <div class=container>
                <div class=row><a href=index-2.html class=footer-logo><img src=~/theme/images/logo.png alt=image></a>

                    <div class=footer-container>
                        <ul class=clearfix>
                            <li><a href="" class=bigsocial-link><i
                                    class="fa fa-twitter"></i></a></li>
                            <li><a href="" class=bigsocial-link target=_blank><i
                                    class="fa fa-instagram"></i></a></li>
                            <li><a href="" class=bigsocial-link target=_blank><i
                                    class="fa fa-twitch"></i></a></li>
                                    <li><a href="" class=bigsocial-link target=_blank><i
                                        class="fa fa-youtube"></i></a></li>
                                        <li><a href="" class=bigsocial-link target=_blank><i
                                            class="fab fa-discord"></i></a></li>
                        </ul>
                        <p><a target="_blank" href="https://www.templateshub.net">2022 Tüm Hakları Saklıdır.</a></p></div>
                   
                </div>
            </div>
        </div>
    </footer>
</div>
<script src=~/theme/js/vendor/vendor.js></script>
<script src=~/theme/js/main.js></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>