@{
    ViewData["Title"] = "Contact Us";
}
@model ContactModel

<div class=innerbannerwrap>
    <div class=content></div>
    <div class=innerbanner><h2 class=bannerHeadline>Contact <span>Us</span></h2></div>
</div>
<section class=innerpage_all_wrap>
    <div class=container>
        <div class=row>
            <h2 class=heading>get in <span>touch</span></h2>

            <p class=headParagraph>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quisquam
                reprehenderit, blanditiis nam debitis libero facilis illum repudiandae eveniet voluptatibus
                quibusdam illo ea nisi ipsa accusantium nobis animi asperiores quaerat ,Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Fugiat quisquam reprehenderit, blanditiis nam debitis libero facilis
                illum repudiandae eveniet voluptatibus quibusdam illo ea nisi ipsa accusantium nobis animi
                asperiores quaerat .
            </p>

            <div class=innerWrapper>
                <ul class="contact_icon clearfix">
                    <li><a href=tel:80052608885263><i class="fa fa-phone"></i> <span>+1 800-256-9876</span></a></li>
                    <li>
                        <a href=mailto:mail@yoursite.com>
                            <i class="fa fa-envelope-o"></i>
                            <span>info@soccerclub.com</span>
                        </a>
                    </li>
                    <li>
                        <a href=#><i class="fa fa-map-marker"></i> <span>321/1 bakersssstreet,Newwork</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="map_wrapper clearfix">
    <div id=map-section></div>
    <div class=container>
        <div class=row>
            <div class=contact_form>
                <h2 class=heading>contact us <span>by form</span></h2>

                <p class=headParagraph>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quisquam
                    reprehenderit, blanditiis nam debitis libero facilis illum repudiandae eveniet voluptatibus
                    quibusdam illo ea nisi ipsa accusantium nobis animi asperiores quaerat ,Lorem ipsum dolor sit
                    amet .
                </p>

                <form data-parsley-validate="" name=contact class="formcontact clearfix" method="post">
                    <div class=form-group>
                        <input type=text class=form-control asp-for="Name" name=name placeholder=Name required="" data-parsley-required-message="please insert Name">
                    </div>
                    <div class=form-group>
                        <input type=email class=form-control asp-for="Email" name=email placeholder=Email required="" data-parsley-required-message="please insert Email">
                    </div>
                    <div class=form-group style="width: 100%;">
                        <input type=text class=form-control asp-for="Subject" name=subject placeholder=Subject required="" data-parsley-required-message="please insert subject">
                    </div>
                    <div class=form-group1>
                        <textarea class="form-control textas" asp-for="Message" name=comment placeholder=Message
                                  required="" data-parsley-minlength=20
                                  data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.."
                                  data-parsley-validation-threshold=10
                                  data-parsley-maxlength=100></textarea>
                    </div>
                    <button type=submit class="btn btn-red" style="background-color: white;" id=send>Send Us</button>
                    <div class=form-message></div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function (e) {
            $("form").on("submit", function (e) {
                var model = {
                    Email: $("#Email").val(),
                    Name: $("#Same").val(),
                    Subject: $("#Subject").val(),
                    Message: $("#Message").val()
                };
                $.ajax({
                    url: "/Home/Contact",
                    type: 'POST',
                    data: { model: model },
                    success: function (data) {
                        console.log("data: " + data);
                        if (data == true) {
                            swal("Successful!", "Your message has been sent. It will be returned as soon as possible.", "success");
                        }
                        else {
                            swal("Unsuccessful!", "Your message could not be sent. Try again later.", "error");
                        }
                        $("#email").val("");
                        $("#name").val("");
                        $("#subject").val("");
                        $("#form-message").val("");
                    },
                    error: function (error) {
                        swal("Unsuccessful!", "Your message could not be sent. Try again later.", "error");
                    }
                });
                //console.log($(this).serialize());
                e.preventDefault();
            });
        });
    </script>
}