
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>gallery</span></h2></div>
    </div>
    <section class=innerpage_all_wrap>
        <div class=container>
            <div class=row>
                <ul class="galleryPage gallerycolumn03 clearfix" id=da_gallery>
                    <li class=gallery-list><a class=column_g><span class=image_g
                                                                   style=background:url(/theme/images/gallery/gallery02.jpg)></span>

                        <div class=gallery-info><h6>gallery header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos dignissimos dolor ab
                                vel perspiciatis sapiente, quia aliquid explicabo quisquam corporis numquam tempore iure
                                assumenda ut tenetur maiores facere cumque.</p></div>
                    </a></li>
                    <li class=gallery-list><a class=column_g><span class=image_g
                                                                   style=background:url(/theme/images/gallery/gallery021.jpg)></span>

                        <div class=gallery-info><h6>gallery header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos dignissimos dolor ab
                                vel perspiciatis sapiente, quia aliquid explicabo quisquam corporis numquam tempore iure
                                assumenda ut tenetur maiores facere cumque.</p></div>
                    </a></li>
                    <li class=gallery-list><a class=column_g><span class=image_g
                                                                   style=background:url(/theme/images/gallery/gallery021.jpg)></span>

                        <div class=gallery-info><h6>gallery header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos dignissimos dolor ab
                                vel perspiciatis sapiente, quia aliquid explicabo quisquam corporis numquam tempore iure
                                assumenda ut tenetur maiores facere cumque.</p></div>
                    </a></li>
                    <li class=gallery-list><a class=column_g><span class=image_g
                                                                   style=background:url(/theme/images/gallery/gallery04.jpg)></span>

                        <div class=gallery-info><h6>gallery header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos dignissimos dolor ab
                                vel perspiciatis sapiente, quia aliquid explicabo quisquam corporis numquam tempore iure
                                assumenda ut tenetur maiores facere cumque.</p></div>
                    </a></li>
                    <li class=gallery-list><a class=column_g><span class=image_g
                                                                   style=background:url(/theme/images/gallery/gallery03.jpg)></span>

                        <div class=gallery-info><h6>gallery header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos dignissimos dolor ab
                                vel perspiciatis sapiente, quia aliquid explicabo quisquam corporis numquam tempore iure
                                assumenda ut tenetur maiores facere cumque.</p></div>
                    </a></li>
                    <li class=gallery-list><a class=column_g><span class=image_g
                                                                   style=background:url(/theme/images/gallery/gallery02.jpg)></span>

                        <div class=gallery-info><h6>gallery header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos dignissimos dolor ab
                                vel perspiciatis sapiente, quia aliquid explicabo quisquam corporis numquam tempore iure
                                assumenda ut tenetur maiores facere cumque.</p></div>
                    </a></li>
                </ul>
            </div>
        </div>
    </section>
